ion-item {
  &.input-item {
    font-size: 0.813rem;
    --color: var(--ion-color-inactive-grey);
    --inner-padding-end: 0;


    &.item-has-value,
    &.item-has-focus,
    &.item-select {
      ion-label {
        background: var(--ion-color-pure-white);
        width: fit-content;
        z-index: 99;
      }
    }

    &.item-has-focus {

      ion-input {
        border: 0.063rem solid var(--ion-color-success);
      }
    }

    &.input-item-note-left {

      ion-input {
        --padding-start: 2.375rem !important;
      }
    }

    ion-label {
      font-family: var(--ion-app-font-medium) !important;
      margin-bottom: 0.5rem !important;
      background: var(--ion-color-pure-white);
      --padding-bottom: 0.625rem !important;
      font-style: normal;
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: var(--ion-color-main-neutral-700) !important;
    }

    &.item-has-value {
      &.ion-dirty.ion-invalid {
        ion-input {
          border: 0.063rem solid var(--ion-color-main-error-700);
        }
      }
    }

    ion-input {
      border: 0.063rem solid var(--ion-color-main-neutral-300);
      border-radius: 0.375rem;
      --padding-start: 1rem !important;
      --padding-top: 0.5rem !important;
      --padding-bottom: 0.5rem !important;
      --placeholder-color: var(--ion-color-main-neutral-400);
      min-height: 2.75rem;

      max-height: 2.75rem;
      font-family: var(--ion-app-font-regular) !important;
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      color: var(--ion-color-black);
      opacity: 1 !important;
      transform: none !important;
    }


  }
}

ion-checkbox {
  --border-color: var(--ion-color-main-neutral-300) !important;
}
