// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #c83b38;
  --ion-color-primary-rgb: 200, 59, 56;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #b03431;
  --ion-color-primary-tint: #ce4f4c;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #013d1e;
  --ion-color-success-rgb: 1, 61, 30;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #01361a;
  --ion-color-success-tint: #1a5035;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #7a271a;
  --ion-color-danger-rgb: 122, 39, 26;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #6b2217;
  --ion-color-danger-tint: #873d31;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #E0E1E0;
  --ion-color-medium-rgb: 224, 225, 224;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #c5c6c5;
  --ion-color-medium-tint: #e3e4e3;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  --ion-color-main-white: #ffffff;
  --ion-color-pure-white: #ffffff;
  --ion-color-pure-black: #000000;
  --ion-color-pure-gray: #dadada;

  --ion-text-color: #0a0b0a;
  --background: #ffffff;

  --ion-color-main-neutral-900: #0a0b0a;
  --ion-color-main-neutral-800: #272a27;
  --ion-color-main-neutral-700: #4a4f4a;
  --ion-color-main-neutral-600: #787d78;
  --ion-color-main-neutral-500: #979b97;
  --ion-color-main-neutral-400: #b6b9b6;
  --ion-color-main-neutral-300: #e0e1e0;
  --ion-color-main-neutral-200: #f5f5f5;
  --ion-color-main-neutral-100: #fafafa;

  --ion-color-main-primary-900: #013d1e;
  --ion-color-main-primary-800: #056232;
  --ion-color-main-primary-700: #08783e;
  --ion-color-main-primary-600: #0EA255;
  --ion-color-main-primary-500: #2aef89;
  --ion-color-main-primary-400: #6ff7b0;
  --ion-color-main-primary-300: #b6fcd8;
  --ion-color-main-primary-200: #d7feea;
  --ion-color-main-primary-100: #f5fffa;

  --ion-color-main-secondary-900: #4d0907;
  --ion-color-main-secondary-800: #621311;
  --ion-color-main-secondary-700: #7a2421;
  --ion-color-main-secondary-600: #883230;
  --ion-color-main-secondary-500: #c83b38;
  --ion-color-main-secondary-400: #e27572;
  --ion-color-main-secondary-300: #f9c4c3;
  --ion-color-main-secondary-200: #fee6e5;
  --ion-color-main-secondary-100: #fff5f5;

  --ion-color-main-error-900: #7a271a;
  --ion-color-main-error-800: #912018;
  --ion-color-main-error-700: #b32318;
  --ion-color-main-error-600: #d92d20;
  --ion-color-main-error-500: #f04438;
  --ion-color-main-error-400: #f97066;
  --ion-color-main-error-300: #fda29b;
  --ion-color-main-error-200: #ffe5e3;
  --ion-color-main-error-100: #fff6f5;

  --ion-color-main-warning-900: #792e0d;
  --ion-color-main-warning-800: #b54708;
  --ion-color-main-warning-700: #dc6803;
  --ion-color-main-warning-600: #f79009;
  --ion-color-main-warning-500: #fec84b;
  --ion-color-main-warning-400: #fedf89;
  --ion-color-main-warning-300: #feefc6;
  --ion-color-main-warning-200: #feefc6;
  --ion-color-main-warning-100: #fffcf5;

  --ion-color-dashboard-yellow: #F2A33F;
  --ion-color-dashboard-blue: #5752F4;
  --ion-color-dashboard-green: #1FC16D;
  --ion-color-dashboard-blue-light: #F5F5FF;
  --ion-color-dashboard-green-light: #F0FFF7;
  --ion-color-dashboard-yellow-light: #FFF8F0;
}

:root {
  /** purple **/
  --ion-color-purple: #F1EEFB;
  --ion-color-purple-rgb: 244, 245, 248;
  --ion-color-purple-contrast: #7E77F7;
  --ion-color-purple-contrast-rgb: 0, 0, 0;
  --ion-color-purple-shade: #f5f6f9;
  --ion-color-purple-tint: #f5f6f9;
}


.ion-color-purple {
  --ion-color-base: var(--ion-color-purple);
  --ion-color-base-rgb: var(--ion-color-purple-rgb);
  --ion-color-contrast: var(--ion-color-purple-contrast);
  --ion-color-contrast-rgb: var(--ion-color-purple-contrast-rgb);
  --ion-color-shade: var(--ion-color-purple-shade);
  --ion-color-tint: var(--ion-color-purple-tint);
}
