<ion-content>

  <app-public-layout class="height-100">
    <ng-container slot="left-side">
      <div class="left-side">
        <div class="title">Build for the digital future modernize</div>
        <div class="logo">
          <img src="assets/icons/full-logo.svg" alt="logo">
        </div>
      </div>
    </ng-container>
    <ng-container slot="right-side">
      <div class="right-side">

        <div class="ion-margin-bottom-24" *ngIf="!isDesktop">
          <img src="assets/icons/full-logo-color.svg" alt="logo" />
        </div>

        <form autocomplete="off" #myForm="ngForm" [formGroup]="userLoginForm" class="ion-margin-y-48">
          <div class="ion-margin-top-16">
            <div class="welcome-title">
              Log in to <span>Modus Create!</span>
            </div>
            <div class="welcome-subtitle ion-margin-top-8">
              Welcome back, log into your account.
            </div>
          </div>

          <div class="ion-margin-top-24">
            <ion-row>
              <ion-col size="12">
                <ion-item lines="none" class="input-item ion-no-padding ion-margin-bottom-12">
                  <ion-label position="stacked">Email</ion-label>
                  <ion-input type="text" name="email" formControlName="email" placeholder="Enter Email"
                    [(ngModel)]="user.email">
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-item lines="none" class="input-item ion-no-padding ion-margin-bottom-4">
                  <ion-label position="stacked">Password</ion-label>
                  <ion-input type="text" name="password" formControlName="password" placeholder="Enter Password"
                    [(ngModel)]="user.password">
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="7">
                <ion-item lines="none" class="ion-no-padding">
                  <ion-label class="consent-message">Remember me
                  </ion-label>
                  <ion-checkbox class="ion-margin-right-8" mode="md" slot="start" name="rememberMe"
                    formControlName="rememberMe" [(ngModel)]="user.rememberMe"></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col size="5" class="forget-password-col">
                <a expand="block" fill="clear">
                  <ion-text color="">Forgot Password?</ion-text>
                </a>
              </ion-col>
            </ion-row>
          </div>

          <div class="ion-padding-y-40">
            <ion-button expand="block" [disabled]="userLoginForm.invalid" (click)="login()">
              Login
            </ion-button>
          </div>

        </form>
        <div class="other-option">Don't have an account? <a>Register</a></div>
      </div>
    </ng-container>
  </app-public-layout>

</ion-content>
